.message { 
    margin-bottom: 0px;
    margin-top: 200px;
    width: 413px;
}

.error-code {
    margin-top: 15px;
    width: 96px;
}

.message, .error-code {
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
}